redis
environs
requests==2.22.0
zhconv==1.4.0
loguru==0.3.2
pretty_errors==1.2.7
#jieba==0.42.1
icecream==2.0.0
Django==3.0.5
# elasticsearch==5.5.3
wget==3.2
Scrapy==2.0.0
sonic-client
alive_progress
tenacity
funcy
django-ipware
click

