<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>zronghui 影视搜索</title>
    <meta name="referrer" content="no-referrer">

    <script src="https://cdn.staticfile.org/jquery/2.2.4/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/moon.m.0004.css' %}" type="text/css">

    <link rel="shortcut icon" type="image/png" href="{% static '/img/HatchfulExport-All/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static '/img/HatchfulExport-All/favicon.png' %}">
</head>
<body>
<main id="main_wrapper">
    <section class="hero_search">
        <div class="hero_logo">
            <span class="hero_logo_link"></span>
        </div>
        <form class="search_form" method="GET" action="/search">
            <input id="searchMsg" class="search_keywords" name="q" type="search" tabindex="1" autocomplete="off" autocapitalize="off"
                   autocorrect="off">
            <span class="search_reset">
                <svg class="icon"
                     style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;"
                     viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6079"><path
                        d="M877.216 491.808M575.328 510.496 946.784 140.672c17.568-17.504 17.664-45.824 0.192-63.424-17.504-17.632-45.792-17.664-63.36-0.192L512.032 446.944 143.712 77.216C126.304 59.712 97.92 59.648 80.384 77.12 62.848 94.624 62.816 123.008 80.288 140.576l368.224 369.632L77.216 879.808c-17.568 17.504-17.664 45.824-0.192 63.424 8.736 8.8 20.256 13.216 31.776 13.216 11.424 0 22.848-4.352 31.584-13.056l371.36-369.696 371.68 373.088C892.192 955.616 903.68 960 915.168 960c11.456 0 22.912-4.384 31.648-13.088 17.504-17.504 17.568-45.824 0.096-63.392L575.328 510.496 575.328 510.496zM575.328 510.496"
                        p-id="6080"></path></svg>
            </span>
            <button id='btn' class="search_submit" type="submit">
                <svg class="icon"
                     style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;"
                     viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1466">
                    <path d="M995.830324 995.833186c-37.551478 37.555771-98.442595 37.555771-135.998366 0L690.099793 826.096728c-69.778525 44.731805-152.275014 71.438385-241.32652 71.438385C200.92894 897.535113 0.002848 696.614745 0.002848 448.770411 0.002848 200.920354 200.92894-1.4e-05 448.773273-1.4e-05c247.855781 0 448.770426 200.920368 448.770426 448.770426 0 89.047214-26.700857 171.536548-71.439816 241.333675l169.726442 169.725011C1033.386095 897.384867 1033.386095 958.277416 995.830324 995.833186L995.830324 995.833186zM448.773273 128.218472C271.747739 128.218472 128.23135 271.734861 128.23135 448.770411c0 177.031258 143.510665 320.547647 320.541923 320.547647 177.036982 0 320.547647-143.516389 320.547647-320.547647C769.32092 271.734861 625.810255 128.218472 448.773273 128.218472L448.773273 128.218472zM448.773273 128.218472"
                          p-id="1467"></path>
                </svg>
            </button>
            <div class="list  list-1">
                <ul id="suggestList">

                </ul>
            </div>
            <div style="display:none;" id="load">正在加载...</div>
        </form>
        <p class="hero_tagline">
            本来无一物，何处惹尘埃。
        </p>
    </section>
</main>

<script>
    let searchMsg = document.getElementById("searchMsg");
    let list = document.getElementById("suggestList");
    let btn = document.getElementById("btn");
    let load = document.getElementById("load");
    {# 获取搜索历史，添加当前搜索词，去重 #}
    let zrhSearchedItems = JSON.parse(localStorage.getItem("zrhSearchedItems"));
    if (zrhSearchedItems == null) {
        zrhSearchedItems = [];
    }
    {% if q %}
        zrhSearchedItems = zrhSearchedItems.concat({{ q }});
        let uniqueItems = [...new Set(zrhSearchedItems)];
        localStorage.setItem("zrhSearchedItems", JSON.stringify(uniqueItems));
    {% endif %}



    let showHistoryItems = function () {
        if (this.value) {
        } else {
            let zrhSearchedItems = JSON.parse(localStorage.getItem("zrhSearchedItems"));
            if (zrhSearchedItems != null) {
                zrhSearchedItems.reverse()
                show(list);
                let lihtml = "";
                //这时候遍历历史搜索记录，放到li标签当中
                zrhSearchedItems.slice(0, 10).forEach(function (item, index) {
                    lihtml = lihtml + '<li>' + item + '</li>';
                });
                $("ul#suggestList").html(lihtml);
            }
        }
    };
    searchMsg.onclick = showHistoryItems;
    //监听输入框的keuup事件，
    searchMsg.onkeyup = function () {
        if (this.value) {
            show(list);
            // 动态创建script标签，使用百度提供的接口，将查询字符串编码后，写到src当中
            var s = document.createElement('script');
            s.src = 'https://s.video.qq.com/smartbox?callback=fn&plat=2&ver=0&num=5&otype=json&query=' + encodeURI(this.value.trim());
            // 插入到文档后获取jsonp格式的数据，然后调用callback函数，将data数据以参数的形式传入
            document.body.appendChild(s);
        } else {
            {#hide(list);#}
            showHistoryItems();
        }
    };

    //点击li标签后把输入框的信息填入到文本框
    $("#suggestList").delegate('li','click', function (e) {
          var target = e.target || e.srcElement;
          searchMsg.value = target.innerHTML;
          // console.log(target.innerHTML);
          hide(list)
          $('#btn').click();
      });
    // list.onclick = function (e) {
    //     var e = e || window.event;
    //     var target = e.target || e.srcElement;
    //     if (target.nodeName == "LI") {
    //         searchMsg.value = target.innerHTML;
    //         $('#btn').click();
    //     }
    //     hide(list)
    // };

    function fn(data) {
        var lihtml = "";
        //这时候遍历查询到的信息，放到li标签当中
        data.item.forEach(function (item, index) {
            lihtml = lihtml + '<li>' + item['word'] + '</li>';
        });
        $("ul#suggestList").html(lihtml);
        show(list);

        // 获取到数据后，把脚本删除
        var s = document.querySelectorAll('script');
        for (var i = 1, len = s.length; i < len; i++) {
            if(s[i].src.startsWith("https://s.video.qq.com")){
                document.body.removeChild(s[i]);
            }
        }
    }

    function hide(obj) {
        obj.style.display = "none"
    }

    function show(obj) {
        obj.style.display = "block"
    }
</script>


<!-- {% load static %} -->
<!-- <script src="{% static 'js/script.m.33322f.js' %}"></script> -->
</body>
</html>
